/* tablets to computers*/
@media only screen and (max-width: 1200px) {
	.hero-text-box {
		overflow: hidden;
		width: 100%;
		padding: 0 2%;
		margin: 0 2%;
	}
	.row {
		padding: 0 2%;
	}
}



/* tablet in portrait mode*/
@media only screen and (max-width: 1023px) {
	body {
		font-size: 16px;
	}
	section {
		padding: 60px 0;
	}
	.long-copy {
	width: 80%;
	margin-left: 10%;
	}
	.works-step div {
	height: 25px;
	width: 25px;
	padding: 8px;
	margin-right: 25px;
	}
	.works-step{
	margin-bottom: 30px;
	}
	.btn-app img {
	height: 35px;
	margin: 35px 20px;
	}
	ion-icon.fix {
	margin: 0 5px 0 0;
	}
	cite {
	font-size: 75%;
		}
	cite img {
		vertical-align: bottom;
	}
	.plan-box {
		width:100%;
		margin-left: 0%;
	}
	.plan-price {
		margin-top: 10px;
	}
	.contact-form {
		width: 80%;
	}
	
}


/* small phones to small tablets*/
@media only screen and (max-width: 767px) {
	body {
		font-size: 16px;
	}
	section { 
		padding: 30px;
	}
	.row
	.hero-tex-box { 
		margin-left:4%;
		margin-right:4%;
	}
	.col {
		width: 100% !important; 
		margin: 0 0 4% 0 !important;
	}
	.main-nav {
		display: none;
	}

	.main-nav {
		float: left;
		margin-top: 5px;
		margin-left: 5px;
	}

	.main-nav li a:hover,
	.main-nav li a:active {
	border-bottom: 0px;
	}

	.mobile-nav-icon {
		display: inline-block;
	}

	.main-nav li {
		display: block;
		font-size: 120%;
	}

	.main-nav li a:link 
	.main-nav li a:visited {
		display: block;
		padding: 10px 0;
		border-bottom: 0;
		
	}

	.main-nav li a:hover,
	.main-nav li a:active {
	border-bottom: 0px;
	}

	.sticky.main-nav {
		margin-top: 10px;
		padding: 8px;
	}

	.sticky .main-nav li a:link,
	.sticky .main-nav li a:visited {
		padding: 10px;
	}

	
	.long-copy {
	width: 100%;
	margin-left: 0%;
	}
	.works-step div {
	color: #e67e22;
	border: 1px solid  #e67e22; 
	display: inline-block;
	border-radius: 50%;
	height: 15px;
	width: 15px;
	text-align: center;
	padding: 8px;
	float: left;
	font-size: 90%;
	margin-right: 15px;
	}
	.works-step{
	margin-bottom: 30px;
	}
	.btn-app img {
	height: 25px;
	margin: 5px 3px;
	}

	.steps-box:first-child img{
	display: none;
	margin: 0 !important;
	padding: 0 !important;
	}
	.btn-app img {
	height: 45px;
	width: auto;
	margin: 60px 20px;
	}
}


/*iphone4*/

@media only screen and (max-width: 480px) {
section {
	padding: 35px 0;
}
.contact-form{
	width: 90%;
}
}